//colors
$black: #000;
$dark-grey: #444;
$light-grey: #BBB;
$white: #FFF;
$accent: #900;

//fonts
$head-font: Andale Mono, monospace;
$sub-font: Courier New, monospace;

//font sizes
$heading: 56px;
$subheading: 48px;
$copy-large: 20px;
$copy-regular: 16px;
$copy-small: 12px;

//margins
$page-margin: 100px 80px;
$large-margin: 60px;
$small-margin: 20px;
