.campuses-map {
    height: 40vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../../assets/images/city.jpg);

    h1 {
        font-size: $heading;
        color: white;
        text-shadow: 2px 2px rgb(0,0,0,.1);
    }
}