.campuses-more {
    height: 35vh;
    width: 100%;

    padding: 0 10% ;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .campuses-buttons {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            margin: 20px;
            padding: 10px 20px;

            border: solid $accent 4px;
            border-radius: 20px;

            color: $accent;
            font-weight: bold;
            text-decoration: none;
        }

        a:hover {
            color: $dark-grey;
            border: solid $dark-grey 4px;
        }
    }
}